<div class="container">
  <span class="loading-container">
    <span class="outer">
    </span>
    <span class="inner">
      <img *ngIf="appSession.appState == AppState.MAIL_SENT;else linkSent" src="assets/svg/mail.svg">
      <ng-template #linkSent>
        <img src="assets/svg/link_sent.svg">
      </ng-template>
      <span class="notification">1</span>
    </span>
  </span>

  <span class="info" *ngIf="appSession.appState == AppState.MAIL_SENT;else linkSentInfo">
    <ng-container *ngIf="appSession.appTransferParams.scheduleTransfer == false;else MailScheduled">
      <h2>
      Woohoo!
      </h2>
      <h3>Your files has been sent.</h3>
      <small>
        <b>Transfer will expire in {{appHelper.expiryDay}} days</b>
      </small>
      <span style="width: 100%;height: 100%;margin: 1.0rem;justify-content: center;display: flex">
        <h6 class="link" (click)="appSession.appState = AppState.MAIL_SELECT">make another transfer?</h6>
      </span>
    </ng-container>
    <ng-template #MailScheduled>
      <h4>Files will be sent on <br>
        {{appSession.appTransferParams.scheduledAt * 1000 | date:'MMM d, h:mm a'}}
      </h4>
      <small>
        <b>Transfer will expire in {{appHelper.expiryDay}} days</b>
      </small>
      <span style="width: 100%;height: 100%;margin: 1.0rem;justify-content: center;display: flex">
        <h6 class="link" (click)="appSession.appState = AppState.MAIL_SELECT">make another transfer?</h6>
      </span>
    </ng-template>
  </span>
  <ng-template #linkSentInfo>
    <span class="info">
      <h2>
        Zip Zap Zwoop
      </h2>
      <h3>Done!</h3>
      <small class="link-container" (click)="CopyToClipBoard($event)"
             [copy-clipboard]="sessionLink" (copied)="CopyToClipBoard($event)">
        {{sessionLink}}
      </small>
      <small>
        <b>Transfer will expire in {{appHelper.expiryDay}} days</b>
      </small>
      <span style="width: 100%;height: 100%;margin: 1.0rem;justify-content: center;display: flex" >
        <h6 class="link" (click)="ChangeState()">make another transfer?</h6>
      </span>
    </span>
  </ng-template>
</div>
