.carton{
  min-width: 300px;
  /*max-width: 20%;*/
  min-height: 400px;
  width: min-content;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  margin: auto;
  /*background: #f4f4f4;*/
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px slategrey;
}
.carton > *{

  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.download-button{
  width: 100px;
}
.carton .message{
  /*width: 99%;*/
  min-height: 250px;
  max-height: 250px;
  /*background-color: #eee;*/
  overflow-y: auto;
  overflow-x: clip;
  word-wrap: break-word;
  text-justify: distribute;
  padding: 1.2rem;
  justify-content: unset;
  align-items: unset;
}
p{
  text-justify: inter-word;
  word-wrap: break-word;
  text-align: justify;
}

.password-container{
  width: 100%;
  position: absolute;
}
.password-container > *:not(.password-input) {
  filter: blur(5px);
}
.password-container .password-input{
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  place-items: center;
  margin: auto;
}
.password-container .password-input input{
  user-select: none;
  outline: none;
  border-radius: 50px;
  padding: 0.5rem;
  border: 1px solid slategrey;
  font-weight: bolder;
  text-align: center;
}
.password-container .password-input .incorrect-password{
  transform: translate3d(0, 0, 0);
  animation-name: incorrect;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 0.82s;
}
@keyframes incorrect {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.not-found-container{

}

.not-found-container img{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: scale-down;
  object-position: center;
  margin: 1.2rem;
  box-shadow: 3px 3px 5px slategray;
}
.not-found-container .text{
  color: #7a7a7a;
  /*margin: 1.2rem;*/
}


